@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grey-100: #f7f7f7;
  --grey-200: #eeeeee;
  --grey-500: #929aab;
  --grey-600: #868c9a;
  --grey-700: #707070;
  --grey-900: #393e46;
  --grey-700-op-3: #7070704d;
  --red-600: #bd2000;
  --green-600: #5eaaa8;
}
html {
  font-size: 8px;
}
body {
  background-color: var(--grey-200);
  font-family: "Roboto", sans-serif;
}
.new-class {
  @apply bg-green-100 rounded p-2;
  width: 10rem;
}
.nav-bar {
  width: 100vw;
  height: 60px;
  background-color: var(--grey-900);
}
.nav-bar-container {
  width: 98%;
  height: 100%;
  margin: 0 auto;
  @apply flex items-center;
}

.logo-container {
  width: max-content;
  height: max-content;
}

.brand-name-container {
  margin: 0 auto;
}
.brand-name {
  color: var(--grey-100);
  font-size: 4rem;
  font-weight: 400;
}
.login-container {
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
  margin-top: 10vh;
  border-radius: 20px;
  border: 1px solid var(--grey-700-op-3);
  background-color: var(--grey-100);
  @apply flex flex-row;
}

.welcome-block,
.login-form-block {
  width: 50%;
  height: 100%;
}

.welcome-block {
  padding: 2rem;
}

.login-form-block {
  background-color: var(--grey-500);
  border-radius: 20px;
  padding: 20px;
  border: 1px solid var(--grey-700-op-3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.login-form-block form {
  height: 60%;
  margin: auto 0;
}
.login-form-title {
  color: var(--grey-100);
}
.form-items {
  width: 100%;
  margin: 2rem auto;
}
.form-items label {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  display: block;
  color: var(--grey-100);
  /* @apply; */
}
.checkbox-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkbox-item input {
  border: 0;
}
.checkbox-item label {
  font-size: 1.5rem;
  display: inline !important;
}
.form-items input[type="text"],
input[type="password"] {
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  color: var(--grey-900);
  background-color: var(--grey-100);
  border-radius: 5px;
  border: 1px solid var(--grey-700-op-3);
  margin: 0 auto;
  padding: 1rem;
  outline: none;
}
.form-items-btn {
  display: flex;
  justify-content: flex-end;
}
.login-btn {
  height: 3rem;
  width: 10rem;
  font-size: 1.25rem;
  border-radius: 5px;
  color: var(--grey-900);
  background-color: var(--grey-100);
  outline: none;
}

.welcome-block-title {
  color: var(--grey-900);
  font-weight: 400;
}
.welcome-block-par {
  margin-top: 2rem;
  color: var(--grey-500);
}
.welcome-block-btn {
  margin-top: 2rem;
  height: 3rem;
  width: 15rem;
  font-size: 1.5rem;
  border-radius: 5px;
  color: var(--grey-100);
  background-color: var(--grey-900);
  outline: none;
}
.logout-btn {
  height: 4rem;
  width: 10rem;
  font-size: 1.5rem;
  border-radius: 5px;
  color: var(--grey-200);
  background-color: var(--red-600);
  outline: 0;
}
.contact-container {
  width: 80vw;
  height: 80vh;
  margin: auto;
  margin-top: 5vh;
  background-color: var(--grey-100);
  border: 1px solid var(--grey-700-op-3);
  border-radius: 20px;
}
.contact-title {
  color: var(--grey-900);
  font-weight: 400;
}
.control-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  outline: 0;
}

.search-input {
  width: 30%;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  background-color: var(--grey-100);
  border: 1px solid var(--grey-700-op-3);
  margin-right: 0.5rem;
  font-size: 2rem;
}
.addcontact-btn {
  height: 4rem;
  width: 15rem;
  font-size: 1.75rem;
  border-radius: 5px;
  color: var(--grey-200);
  font-weight: 600;
  background-color: var(--green-600);
  border: 1px solid var(--grey-700-op-3);
  outline: none;
}

.contact-table {
  width: 100%;
  background-color: var(--grey-500);
  border-collapse: collapse;
  border-radius: 2rem;
  overflow: hidden;
  color: var(--grey-100);
}
.contact-table thead tr {
  height: 3rem;
  background-color: var(--grey-600);
  font-size: 1.5rem;
}
.contact-table td {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}
.close-icon,
.edit-action {
  cursor: pointer;
}
.close-icon {
  display: inline;
  width: 20px;
}
.action-td {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.edit-action {
  font-size: 1.75rem;
}
